openapi: 3.2.0
info:
  title: Hubflo Folder API
  version: v2
  description: The Hubflo API allows you to write and read data from the Hubflo application.
servers:
- url: https://app.hubflo.com
  description: The production API server
- url: https://staging.hubflo.com
  description: The staging API server
- url: http://localhost:3000
  description: The local API server
tags:
- name: Folder
paths:
  /api/v2/workspaces/{workspace_id}/folders/{folder_id}/accesses:
    get:
      summary: Retrieves the accesses to the given folder
      security:
      - bearer_auth: []
      description: Returns the accesses
      tags:
      - Folder
      parameters:
      - name: page
        in: query
        required: false
        description: Page number
        example: 1
        schema:
          type: number
      - name: per_page
        in: query
        required: false
        description: Number of items per page (max 100)
        example: 10
        schema:
          type: number
      - name: workspace_id
        in: path
        required: true
        description: Workspace ID
        schema:
          type: string
      - name: folder_id
        in: path
        required: true
        description: Folder ID
        schema:
          type: string
      - name: actor_type
        in: query
        required: false
        description: Actor type (User, ContactInvitation, Contact)
        schema:
          type: string
      responses:
        '200':
          description: Accesses retrieved
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json; charset=utf-8
            X-Organization-ID:
              schema:
                type: string
              description: The organization ID
            X-Rate-Limit:
              schema:
                type: integer
              description: Max allowed requests in the current period
            X-Remaining-Requests:
              schema:
                type: integer
              description: Remaining requests in the current period
            X-Page:
              schema:
                type: integer
              description: Current page number
            X-Per-Page:
              schema:
                type: integer
              description: Number of items per page
            X-Total-Pages:
              schema:
                type: integer
              description: Total number of pages
            X-Next-Page:
              schema:
                type:
                - integer
                - 'null'
              description: Next page number
            X-Prev-Page:
              schema:
                type:
                - integer
                - 'null'
              description: Previous page number
            X-Total-Count:
              schema:
                type: integer
              description: Total number of items
          content:
            application/json:
              examples:
                example:
                  value:
                  - id: 997
                    actor_id: 372a88ec-0353-4fa4-9452-26e2f3f6dfdb
                    actor_type: ContactInvitation
                    resource_id: 3d459c6f-b835-411b-a9ee-503f9b35d43c
                    resource_type: content/item
                    created_at: '2026-07-17T13:10:21Z'
                  - id: 996
                    actor_id: 174e3ef6-23fd-4e50-b018-c5c4b5995a7b
                    actor_type: User
                    resource_id: 3d459c6f-b835-411b-a9ee-503f9b35d43c
                    resource_type: content/item
                    created_at: '2026-07-17T13:10:21Z'
        '401':
          description: 'unauthorized: the Authorization header is missing or invalid'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 401
                    title: Unauthorized
                    message: Invalid API token
              schema:
                $ref: '#/components/schemas/error_unauthorized'
        '404':
          description: 'not found: the resource is not found'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 404
                    title: Not Found
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/error_not_found'
        '429':
          description: 'too many requests: the user has reached the rate limit'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 429
                    title: Too Many Requests
                    message: Rate limit reached. Please wait for a couple of minutes.
              schema:
                $ref: '#/components/schemas/error_too_many_requests'
      operationId: getApiV2WorkspacesByWorkspaceIdFoldersByFolderIdAccesses
      x-operation-id-source: derived
    post:
      summary: Adds an access to the given folder
      security:
      - bearer_auth: []
      description: Grants access to an actor
      tags:
      - Folder
      parameters:
      - name: workspace_id
        in: path
        required: true
        description: Workspace ID
        schema:
          type: string
      - name: folder_id
        in: path
        required: true
        description: Folder ID
        schema:
          type: string
      - name: actor_type
        in: query
        required: true
        description: Actor type (User, ContactInvitation, Contact)
        schema:
          type: string
      - name: actor_id
        in: query
        required: true
        description: Actor ID
        schema:
          type: string
      responses:
        '201':
          description: Access granted
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json; charset=utf-8
            X-Organization-ID:
              schema:
                type: string
              description: The organization ID
            X-Rate-Limit:
              schema:
                type: integer
              description: Max allowed requests in the current period
            X-Remaining-Requests:
              schema:
                type: integer
              description: Remaining requests in the current period
          content:
            application/json:
              examples:
                example:
                  value:
                    id: 1066
                    actor_id: 780e98ee-8ca2-49fa-bd4d-6d2a644ee40a
                    actor_type: User
                    resource_id: b2417ad0-138a-4ad4-a2e1-5a2134cfea51
                    resource_type: content/item
                    created_at: '2026-07-17T13:10:22Z'
        '401':
          description: 'unauthorized: the Authorization header is missing or invalid'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 401
                    title: Unauthorized
                    message: Invalid API token
              schema:
                $ref: '#/components/schemas/error_unauthorized'
        '404':
          description: 'not found: the resource is not found'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 404
                    title: Not Found
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/error_not_found'
        '429':
          description: 'too many requests: the user has reached the rate limit'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 429
                    title: Too Many Requests
                    message: Rate limit reached. Please wait for a couple of minutes.
              schema:
                $ref: '#/components/schemas/error_too_many_requests'
      operationId: postApiV2WorkspacesByWorkspaceIdFoldersByFolderIdAccesses
      x-operation-id-source: derived
    delete:
      summary: Removes an access from the given folder
      security:
      - bearer_auth: []
      description: Revokes access for an actor
      tags:
      - Folder
      parameters:
      - name: workspace_id
        in: path
        required: true
        description: Workspace ID
        schema:
          type: string
      - name: folder_id
        in: path
        required: true
        description: Folder ID
        schema:
          type: string
      - name: actor_type
        in: query
        required: true
        description: Actor type (User, ContactInvitation, Contact)
        schema:
          type: string
      - name: actor_id
        in: query
        required: true
        description: Actor ID
        schema:
          type: string
      responses:
        '204':
          description: Access revoked
          headers:
            X-Organization-ID:
              schema:
                type: string
              description: The organization ID
            X-Rate-Limit:
              schema:
                type: integer
              description: Max allowed requests in the current period
            X-Remaining-Requests:
              schema:
                type: integer
              description: Remaining requests in the current period
          content:
            application/json:
              examples:
                example:
                  value: ''
        '401':
          description: 'unauthorized: the Authorization header is missing or invalid'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 401
                    title: Unauthorized
                    message: Invalid API token
              schema:
                $ref: '#/components/schemas/error_unauthorized'
        '404':
          description: 'not found: the resource is not found'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 404
                    title: Not Found
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/error_not_found'
        '429':
          description: 'too many requests: the user has reached the rate limit'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 429
                    title: Too Many Requests
                    message: Rate limit reached. Please wait for a couple of minutes.
              schema:
                $ref: '#/components/schemas/error_too_many_requests'
      operationId: deleteApiV2WorkspacesByWorkspaceIdFoldersByFolderIdAccesses
      x-operation-id-source: derived
components:
  schemas:
    error_not_found:
      description: A response describing a not found error
      type: object
      properties:
        status:
          type: integer
          example: 404
        title:
          type: string
          example: Not Found
        message:
          type: string
          example: Resource not found
      required:
      - status
      - title
      - message
    error_too_many_requests:
      description: A response describing a rate limit error
      type: object
      properties:
        status:
          type: integer
          example: 429
        title:
          type: string
          example: Too Many Requests
        message:
          type: string
          example: Rate limit reached. Please wait for a couple of minutes.
      required:
      - status
      - title
      - message
    error_unauthorized:
      description: A response describing an authentication error
      type: object
      properties:
        status:
          type: integer
          example: 401
        title:
          type: string
          example: Unauthorized
        message:
          type: string
          example: API token not found
      required:
      - status
      - title
      - message
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
x-readme:
  explorer-enabled: true
  proxy-enabled: true
