openapi: 3.2.0
info:
  title: Hubflo Time Tracking API
  version: v2
  description: The Hubflo API allows you to write and read data from the Hubflo application.
servers:
- url: https://app.hubflo.com
  description: The production API server
- url: https://staging.hubflo.com
  description: The staging API server
- url: http://localhost:3000
  description: The local API server
tags:
- name: Time Tracking
paths:
  /api/v2/time_trackings:
    get:
      summary: Retrieves the time trackings
      security:
      - bearer_auth: []
      description: Returns the time trackings
      tags:
      - Time Tracking
      parameters:
      - name: page
        in: query
        required: false
        description: Page number
        example: 1
        schema:
          type: number
      - name: per_page
        in: query
        required: false
        description: Number of items per page (max 100)
        example: 10
        schema:
          type: number
      responses:
        '200':
          description: Time trackings retrieved
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json; charset=utf-8
            X-Organization-ID:
              schema:
                type: string
              description: The organization ID
            X-Rate-Limit:
              schema:
                type: integer
              description: Max allowed requests in the current period
            X-Remaining-Requests:
              schema:
                type: integer
              description: Remaining requests in the current period
            X-Page:
              schema:
                type: integer
              description: Current page number
            X-Per-Page:
              schema:
                type: integer
              description: Number of items per page
            X-Total-Pages:
              schema:
                type: integer
              description: Total number of pages
            X-Next-Page:
              schema:
                type:
                - integer
                - 'null'
              description: Next page number
            X-Prev-Page:
              schema:
                type:
                - integer
                - 'null'
              description: Previous page number
            X-Total-Count:
              schema:
                type: integer
              description: Total number of items
          content:
            application/json:
              examples:
                example:
                  value:
                  - id: b98c7625-8d60-4eb5-8ccd-8a8de6144d8b
                    billable: false
                    description: null
                    creator_id: 780e98ee-8ca2-49fa-bd4d-6d2a644ee40a
                    user_id: 780e98ee-8ca2-49fa-bd4d-6d2a644ee40a
                    duration_in_minutes: 240
                    hourly_rate: 100
                    hourly_cost: 50
                    date: '2025-01-01'
                    task_id: null
                    project_id: null
                    created_at: '2026-07-17T13:10:10Z'
                  - id: 6bd66c82-97f8-4f41-98de-e7230bac6312
                    billable: false
                    description: null
                    creator_id: 780e98ee-8ca2-49fa-bd4d-6d2a644ee40a
                    user_id: 780e98ee-8ca2-49fa-bd4d-6d2a644ee40a
                    duration_in_minutes: 240
                    hourly_rate: 100
                    hourly_cost: 50
                    date: '2025-01-01'
                    task_id: null
                    project_id: null
                    created_at: '2026-07-17T13:10:10Z'
        '401':
          description: 'unauthorized: the Authorization header is missing or invalid'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 401
                    title: Unauthorized
                    message: Invalid API token
              schema:
                $ref: '#/components/schemas/error_unauthorized'
        '429':
          description: 'too many requests: the user has reached the rate limit'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 429
                    title: Too Many Requests
                    message: Rate limit reached. Please wait for a couple of minutes.
              schema:
                $ref: '#/components/schemas/error_too_many_requests'
      operationId: getApiV2TimeTrackings
      x-operation-id-source: derived
    post:
      summary: Creates a time tracking
      security:
      - bearer_auth: []
      description: Returns the created time tracking
      tags:
      - Time Tracking
      parameters: []
      responses:
        '201':
          description: Time tracking created
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json; charset=utf-8
            X-Organization-ID:
              schema:
                type: string
              description: The organization ID
            X-Rate-Limit:
              schema:
                type: integer
              description: Max allowed requests in the current period
            X-Remaining-Requests:
              schema:
                type: integer
              description: Remaining requests in the current period
          content:
            application/json:
              examples:
                example:
                  value:
                    id: 78b01619-0c09-4037-9ca0-078a81052499
                    billable: true
                    description: Worked on project
                    creator_id: e68a6422-fdb4-4c64-922a-8ac109b3ed33
                    user_id: e68a6422-fdb4-4c64-922a-8ac109b3ed33
                    duration_in_minutes: 60
                    hourly_rate: 100
                    hourly_cost: 50
                    date: '2025-09-01'
                    task_id: 2663ff4c-7c74-4d61-9d79-0f0b786ae591
                    project_id: 4958084c-1c69-496e-8a22-e94c8fc888d2
                    created_at: '2026-07-17T13:10:10Z'
        '401':
          description: 'unauthorized: the Authorization header is missing or invalid'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 401
                    title: Unauthorized
                    message: Invalid API token
              schema:
                $ref: '#/components/schemas/error_unauthorized'
        '429':
          description: 'too many requests: the user has reached the rate limit'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 429
                    title: Too Many Requests
                    message: Rate limit reached. Please wait for a couple of minutes.
              schema:
                $ref: '#/components/schemas/error_too_many_requests'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                  example: e0825f68-3a36-4664-afef-8a6f39720b59
                description:
                  type: string
                  example: Worked on project
                date:
                  type: string
                  example: '2025-09-01'
                duration_in_minutes:
                  type: integer
                  example: 60
                billable:
                  type: boolean
                  example: true
                hourly_rate:
                  type: number
                  example: 100
                hourly_cost:
                  type: number
                  example: 50
                project_id:
                  type: string
                  example: e0825f68-3a36-4664-afef-8a6f39720b59
                task_id:
                  type: string
                  example: e0825f68-3a36-4664-afef-8a6f39720b59
              required:
              - duration_in_minutes
        required: true
        description: Time tracking attributes
      operationId: postApiV2TimeTrackings
      x-operation-id-source: derived
  /api/v2/time_trackings/{id}:
    parameters:
    - name: id
      in: path
      required: true
      description: Time tracking ID
      schema:
        type: string
    get:
      summary: Retrieves a time tracking
      security:
      - bearer_auth: []
      description: Returns a time tracking
      tags:
      - Time Tracking
      responses:
        '200':
          description: Time tracking retrieved
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json; charset=utf-8
            X-Organization-ID:
              schema:
                type: string
              description: The organization ID
            X-Rate-Limit:
              schema:
                type: integer
              description: Max allowed requests in the current period
            X-Remaining-Requests:
              schema:
                type: integer
              description: Remaining requests in the current period
          content:
            application/json:
              examples:
                example:
                  value:
                    id: 4aa78ae0-4102-4fad-a87d-fa29a5fe48de
                    billable: false
                    description: null
                    creator_id: 780e98ee-8ca2-49fa-bd4d-6d2a644ee40a
                    user_id: 780e98ee-8ca2-49fa-bd4d-6d2a644ee40a
                    duration_in_minutes: 240
                    hourly_rate: 100
                    hourly_cost: 50
                    date: '2025-01-01'
                    task_id: null
                    project_id: null
                    created_at: '2026-07-17T13:10:10Z'
        '401':
          description: 'unauthorized: the Authorization header is missing or invalid'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 401
                    title: Unauthorized
                    message: Invalid API token
              schema:
                $ref: '#/components/schemas/error_unauthorized'
        '404':
          description: 'not found: the resource is not found'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 404
                    title: Not Found
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/error_not_found'
        '429':
          description: 'too many requests: the user has reached the rate limit'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 429
                    title: Too Many Requests
                    message: Rate limit reached. Please wait for a couple of minutes.
              schema:
                $ref: '#/components/schemas/error_too_many_requests'
      operationId: getApiV2TimeTrackingsById
      x-operation-id-source: derived
    patch:
      summary: Updates a time tracking
      security:
      - bearer_auth: []
      tags:
      - Time Tracking
      parameters: []
      responses:
        '200':
          description: Time tracking updated
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json; charset=utf-8
            X-Organization-ID:
              schema:
                type: string
              description: The organization ID
            X-Rate-Limit:
              schema:
                type: integer
              description: Max allowed requests in the current period
            X-Remaining-Requests:
              schema:
                type: integer
              description: Remaining requests in the current period
          content:
            application/json:
              examples:
                example:
                  value:
                    id: df5d0608-4be2-48ba-9c7f-e45ba671d93f
                    billable: true
                    description: Worked on project
                    creator_id: 780e98ee-8ca2-49fa-bd4d-6d2a644ee40a
                    user_id: e68a6422-fdb4-4c64-922a-8ac109b3ed33
                    duration_in_minutes: 60
                    hourly_rate: 100
                    hourly_cost: 50
                    date: '2025-09-01'
                    task_id: 4b3bfa84-d801-4a97-8223-cdec79fd6b98
                    project_id: e40e5952-308f-4ccf-865b-0aaaae977ea4
                    created_at: '2026-07-17T13:10:11Z'
        '401':
          description: 'unauthorized: the Authorization header is missing or invalid'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 401
                    title: Unauthorized
                    message: Invalid API token
              schema:
                $ref: '#/components/schemas/error_unauthorized'
        '404':
          description: 'not found: the resource is not found'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 404
                    title: Not Found
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/error_not_found'
        '422':
          description: 'unprocessable content: the resource can''t be created'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 422
                    title: Unprocessable Content
                    message: 'Validation failed: Duration must be greater than 0'
              schema:
                $ref: '#/components/schemas/error_unprocessable_content'
        '429':
          description: 'too many requests: the user has reached the rate limit'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 429
                    title: Too Many Requests
                    message: Rate limit reached. Please wait for a couple of minutes.
              schema:
                $ref: '#/components/schemas/error_too_many_requests'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                  example: e0825f68-3a36-4664-afef-8a6f39720b59
                description:
                  type: string
                  example: Worked on project
                date:
                  type: string
                  example: '2025-09-01'
                duration_in_minutes:
                  type: integer
                  example: 60
                billable:
                  type: boolean
                  example: true
                hourly_rate:
                  type: number
                  example: 100
                hourly_cost:
                  type: number
                  example: 50
                project_id:
                  type: string
                  example: e0825f68-3a36-4664-afef-8a6f39720b59
                task_id:
                  type: string
                  example: e0825f68-3a36-4664-afef-8a6f39720b59
              required:
              - duration_in_minutes
        required: true
        description: Time tracking attributes
      operationId: patchApiV2TimeTrackingsById
      x-operation-id-source: derived
components:
  schemas:
    error_not_found:
      description: A response describing a not found error
      type: object
      properties:
        status:
          type: integer
          example: 404
        title:
          type: string
          example: Not Found
        message:
          type: string
          example: Resource not found
      required:
      - status
      - title
      - message
    error_too_many_requests:
      description: A response describing a rate limit error
      type: object
      properties:
        status:
          type: integer
          example: 429
        title:
          type: string
          example: Too Many Requests
        message:
          type: string
          example: Rate limit reached. Please wait for a couple of minutes.
      required:
      - status
      - title
      - message
    error_unprocessable_content:
      description: A response describing a validation error
      type: object
      properties:
        status:
          type: integer
          example: 422
        title:
          type: string
          example: Unprocessable Content
        message:
          type: string
          example: 'Validation failed: Title can''t be blank'
      required:
      - status
      - title
      - message
    error_unauthorized:
      description: A response describing an authentication error
      type: object
      properties:
        status:
          type: integer
          example: 401
        title:
          type: string
          example: Unauthorized
        message:
          type: string
          example: API token not found
      required:
      - status
      - title
      - message
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
x-readme:
  explorer-enabled: true
  proxy-enabled: true
