openapi: 3.2.0
info:
  title: Hubflo Task Template API
  version: v2
  description: The Hubflo API allows you to write and read data from the Hubflo application.
servers:
- url: https://app.hubflo.com
  description: The production API server
- url: https://staging.hubflo.com
  description: The staging API server
- url: http://localhost:3000
  description: The local API server
tags:
- name: task_template
paths:
  /api/v2/task_templates/{task_template_id}/subtask_templates:
    parameters:
    - name: task_template_id
      in: path
      required: true
      description: Task template ID
      schema:
        type: string
    get:
      summary: Retrieves the subtask templates
      security:
      - bearer_auth: []
      description: Returns the subtask templates of the task template
      tags:
      - task_template
      parameters:
      - name: page
        in: query
        required: false
        description: Page number
        example: 1
        schema:
          type: number
      - name: per_page
        in: query
        required: false
        description: Number of items per page (max 100)
        example: 10
        schema:
          type: number
      responses:
        '200':
          description: Subtask templates retrieved
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json; charset=utf-8
            X-Organization-ID:
              schema:
                type: string
              description: The organization ID
            X-Rate-Limit:
              schema:
                type: integer
              description: Max allowed requests in the current period
            X-Remaining-Requests:
              schema:
                type: integer
              description: Remaining requests in the current period
            X-Page:
              schema:
                type: integer
              description: Current page number
            X-Per-Page:
              schema:
                type: integer
              description: Number of items per page
            X-Total-Pages:
              schema:
                type: integer
              description: Total number of pages
            X-Next-Page:
              schema:
                type:
                - integer
                - 'null'
              description: Next page number
            X-Prev-Page:
              schema:
                type:
                - integer
                - 'null'
              description: Previous page number
            X-Total-Count:
              schema:
                type: integer
              description: Total number of items
          content:
            application/json:
              examples:
                example:
                  value:
                  - id: ee24a93a-d1d2-49f2-8248-12152d7e0b58
                    name: Subtask template
                    description: null
                    kind: to_do
                    task_template_id: acc937ce-5ddb-4176-ba02-6ce54722d39f
                    created_at: '2026-07-17T13:09:57Z'
                  - id: 93c4751f-9ae6-49ee-98eb-a399509ae40c
                    name: Subtask template
                    description: null
                    kind: to_do
                    task_template_id: acc937ce-5ddb-4176-ba02-6ce54722d39f
                    created_at: '2026-07-17T13:09:57Z'
        '401':
          description: 'unauthorized: the Authorization header is missing or invalid'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 401
                    title: Unauthorized
                    message: Invalid API token
              schema:
                $ref: '#/components/schemas/error_unauthorized'
        '404':
          description: 'not found: the resource is not found'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 404
                    title: Not Found
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/error_not_found'
        '429':
          description: 'too many requests: the user has reached the rate limit'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 429
                    title: Too Many Requests
                    message: Rate limit reached. Please wait for a couple of minutes.
              schema:
                $ref: '#/components/schemas/error_too_many_requests'
      operationId: getApiV2TaskTemplatesByTaskTemplateIdSubtaskTemplates
      x-operation-id-source: derived
    post:
      summary: Creates a subtask template
      security:
      - bearer_auth: []
      description: Returns the created subtask template
      tags:
      - task_template
      parameters: []
      responses:
        '201':
          description: Subtask template created
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json; charset=utf-8
            X-Organization-ID:
              schema:
                type: string
              description: The organization ID
            X-Rate-Limit:
              schema:
                type: integer
              description: Max allowed requests in the current period
            X-Remaining-Requests:
              schema:
                type: integer
              description: Remaining requests in the current period
          content:
            application/json:
              examples:
                example:
                  value:
                    id: 09f1fa20-5b5f-4ce0-9065-26abacbc280b
                    name: Send welcome email
                    description: Use the onboarding template
                    kind: to_do
                    task_template_id: fc00e197-5e2f-4fa7-88a0-31db2a26cdd6
                    created_at: '2026-07-17T13:09:58Z'
        '401':
          description: 'unauthorized: the Authorization header is missing or invalid'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 401
                    title: Unauthorized
                    message: Invalid API token
              schema:
                $ref: '#/components/schemas/error_unauthorized'
        '404':
          description: 'not found: the resource is not found'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 404
                    title: Not Found
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/error_not_found'
        '429':
          description: 'too many requests: the user has reached the rate limit'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 429
                    title: Too Many Requests
                    message: Rate limit reached. Please wait for a couple of minutes.
              schema:
                $ref: '#/components/schemas/error_too_many_requests'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: Send welcome email
                description:
                  type: string
                  example: Use the onboarding template
                kind:
                  type: string
                  enum:
                  - to_do
                  - call
                  - meeting
                  - email
                  - milestone
                  example: to_do
              required:
              - name
        required: true
        description: Subtask template attributes
      operationId: postApiV2TaskTemplatesByTaskTemplateIdSubtaskTemplates
      x-operation-id-source: derived
  /api/v2/task_templates/{task_template_id}/subtask_templates/{id}:
    parameters:
    - name: task_template_id
      in: path
      required: true
      description: Task template ID
      schema:
        type: string
    - name: id
      in: path
      required: true
      description: Subtask template ID
      schema:
        type: string
    get:
      summary: Retrieves a subtask template
      security:
      - bearer_auth: []
      description: Returns the subtask template
      tags:
      - task_template
      responses:
        '200':
          description: Subtask template retrieved
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json; charset=utf-8
            X-Organization-ID:
              schema:
                type: string
              description: The organization ID
            X-Rate-Limit:
              schema:
                type: integer
              description: Max allowed requests in the current period
            X-Remaining-Requests:
              schema:
                type: integer
              description: Remaining requests in the current period
          content:
            application/json:
              examples:
                example:
                  value:
                    id: cbc2dcb8-3cb7-413a-8f30-b436072e2b12
                    name: Subtask template
                    description: null
                    kind: to_do
                    task_template_id: 6922d66c-6a99-4c38-b995-97b53681b057
                    created_at: '2026-07-17T13:09:58Z'
        '401':
          description: 'unauthorized: the Authorization header is missing or invalid'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 401
                    title: Unauthorized
                    message: Invalid API token
              schema:
                $ref: '#/components/schemas/error_unauthorized'
        '404':
          description: 'not found: the resource is not found'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 404
                    title: Not Found
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/error_not_found'
        '429':
          description: 'too many requests: the user has reached the rate limit'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 429
                    title: Too Many Requests
                    message: Rate limit reached. Please wait for a couple of minutes.
              schema:
                $ref: '#/components/schemas/error_too_many_requests'
      operationId: getApiV2TaskTemplatesByTaskTemplateIdSubtaskTemplatesById
      x-operation-id-source: derived
    patch:
      summary: Updates a subtask template
      security:
      - bearer_auth: []
      description: Returns the updated subtask template
      tags:
      - task_template
      parameters: []
      responses:
        '200':
          description: Subtask template updated
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json; charset=utf-8
            X-Organization-ID:
              schema:
                type: string
              description: The organization ID
            X-Rate-Limit:
              schema:
                type: integer
              description: Max allowed requests in the current period
            X-Remaining-Requests:
              schema:
                type: integer
              description: Remaining requests in the current period
          content:
            application/json:
              examples:
                example:
                  value:
                    id: c1284a7e-fae4-4218-b85b-4cba946fd3fa
                    name: Updated subtask
                    description: null
                    kind: call
                    task_template_id: 7905075b-9691-46b1-8f98-950e61f20d96
                    created_at: '2026-07-17T13:09:58Z'
        '401':
          description: 'unauthorized: the Authorization header is missing or invalid'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 401
                    title: Unauthorized
                    message: Invalid API token
              schema:
                $ref: '#/components/schemas/error_unauthorized'
        '404':
          description: 'not found: the resource is not found'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 404
                    title: Not Found
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/error_not_found'
        '429':
          description: 'too many requests: the user has reached the rate limit'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 429
                    title: Too Many Requests
                    message: Rate limit reached. Please wait for a couple of minutes.
              schema:
                $ref: '#/components/schemas/error_too_many_requests'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: Send welcome email
                description:
                  type: string
                  example: Use the onboarding template
                kind:
                  type: string
                  enum:
                  - to_do
                  - call
                  - meeting
                  - email
                  - milestone
                  example: to_do
        required: true
        description: Subtask template attributes
      operationId: patchApiV2TaskTemplatesByTaskTemplateIdSubtaskTemplatesById
      x-operation-id-source: derived
    delete:
      summary: Deletes a subtask template
      security:
      - bearer_auth: []
      description: Deletes the subtask template
      tags:
      - task_template
      responses:
        '204':
          description: Subtask template deleted
          headers:
            X-Organization-ID:
              schema:
                type: string
              description: The organization ID
            X-Rate-Limit:
              schema:
                type: integer
              description: Max allowed requests in the current period
            X-Remaining-Requests:
              schema:
                type: integer
              description: Remaining requests in the current period
          content:
            application/json:
              examples:
                example:
                  value: ''
        '401':
          description: 'unauthorized: the Authorization header is missing or invalid'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 401
                    title: Unauthorized
                    message: Invalid API token
              schema:
                $ref: '#/components/schemas/error_unauthorized'
        '404':
          description: 'not found: the resource is not found'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 404
                    title: Not Found
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/error_not_found'
        '429':
          description: 'too many requests: the user has reached the rate limit'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 429
                    title: Too Many Requests
                    message: Rate limit reached. Please wait for a couple of minutes.
              schema:
                $ref: '#/components/schemas/error_too_many_requests'
      operationId: deleteApiV2TaskTemplatesByTaskTemplateIdSubtaskTemplatesById
      x-operation-id-source: derived
  /api/v2/task_templates/{task_template_id}/users:
    get:
      summary: Retrieves the assigned users of a task template
      security:
      - bearer_auth: []
      description: Returns the assigned users of a task template
      tags:
      - task_template
      parameters:
      - name: page
        in: query
        required: false
        description: Page number
        example: 1
        schema:
          type: number
      - name: per_page
        in: query
        required: false
        description: Number of items per page (max 100)
        example: 10
        schema:
          type: number
      - name: task_template_id
        in: path
        required: true
        description: Task template ID
        schema:
          type: string
      responses:
        '200':
          description: Users retrieved
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json; charset=utf-8
            X-Organization-ID:
              schema:
                type: string
              description: The organization ID
            X-Rate-Limit:
              schema:
                type: integer
              description: Max allowed requests in the current period
            X-Remaining-Requests:
              schema:
                type: integer
              description: Remaining requests in the current period
            X-Page:
              schema:
                type: integer
              description: Current page number
            X-Per-Page:
              schema:
                type: integer
              description: Number of items per page
            X-Total-Pages:
              schema:
                type: integer
              description: Total number of pages
            X-Next-Page:
              schema:
                type:
                - integer
                - 'null'
              description: Next page number
            X-Prev-Page:
              schema:
                type:
                - integer
                - 'null'
              description: Previous page number
            X-Total-Count:
              schema:
                type: integer
              description: Total number of items
          content:
            application/json:
              examples:
                example:
                  value:
                  - id: d2ae34bd-d968-406d-a4e9-9a58948a88d3
                    first_name: Jina
                    last_name: Raynor
                    email: hello-116@hubflo.com
                    phone: null
                    created_at: '2026-07-17T13:09:58Z'
                  - id: 3d2a9634-b919-49fd-90ce-603bc087030d
                    first_name: Robby
                    last_name: Emard
                    email: hello-114@hubflo.com
                    phone: null
                    created_at: '2026-07-17T13:09:58Z'
        '401':
          description: 'unauthorized: the Authorization header is missing or invalid'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 401
                    title: Unauthorized
                    message: Invalid API token
              schema:
                $ref: '#/components/schemas/error_unauthorized'
        '429':
          description: 'too many requests: the user has reached the rate limit'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 429
                    title: Too Many Requests
                    message: Rate limit reached. Please wait for a couple of minutes.
              schema:
                $ref: '#/components/schemas/error_too_many_requests'
      operationId: getApiV2TaskTemplatesByTaskTemplateIdUsers
      x-operation-id-source: derived
  /api/v2/task_templates:
    get:
      summary: Retrieves the task templates
      security:
      - bearer_auth: []
      description: 'Returns the task templates of the organization. Filter with `parent_id` to scope by ProjectSection: omit it to get all templates, set it to a blank value to get only top-level ones, or set it to a ProjectSection uuid to get its attached templates.'
      tags:
      - task_template
      parameters:
      - name: page
        in: query
        required: false
        description: Page number
        example: 1
        schema:
          type: number
      - name: per_page
        in: query
        required: false
        description: Number of items per page (max 100)
        example: 10
        schema:
          type: number
      - name: parent_id
        in: query
        required: false
        description: Filter by ProjectSection uuid (blank = top-level only, omitted = all)
        schema:
          type: string
      responses:
        '200':
          description: Task templates retrieved (no filter, returns all)
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json; charset=utf-8
            X-Organization-ID:
              schema:
                type: string
              description: The organization ID
            X-Rate-Limit:
              schema:
                type: integer
              description: Max allowed requests in the current period
            X-Remaining-Requests:
              schema:
                type: integer
              description: Remaining requests in the current period
            X-Page:
              schema:
                type: integer
              description: Current page number
            X-Per-Page:
              schema:
                type: integer
              description: Number of items per page
            X-Total-Pages:
              schema:
                type: integer
              description: Total number of pages
            X-Next-Page:
              schema:
                type:
                - integer
                - 'null'
              description: Next page number
            X-Prev-Page:
              schema:
                type:
                - integer
                - 'null'
              description: Previous page number
            X-Total-Count:
              schema:
                type: integer
              description: Total number of items
          content:
            application/json:
              examples:
                example:
                  value:
                  - id: 5173282a-736b-4f1b-9e7e-15b93d9fbe66
                    name: Task template
                    description: null
                    kind: to_do
                    due_in_days: null
                    parent_id: 3fe5dda7-3b35-44a1-8110-cef5de7c031a
                    parent_type: ProjectSection
                    created_at: '2026-07-17T13:09:59Z'
                  - id: 87259ad4-7e56-4b07-af55-4a0686df498b
                    name: Task template
                    description: null
                    kind: to_do
                    due_in_days: null
                    parent_id: null
                    parent_type: null
                    created_at: '2026-07-17T13:09:59Z'
                  - id: d142bd9b-791e-4710-8591-a6bef52ff768
                    name: Task template
                    description: null
                    kind: to_do
                    due_in_days: null
                    parent_id: null
                    parent_type: null
                    created_at: '2026-07-17T13:09:59Z'
                  - id: d4b7d09a-e4ec-4648-8f70-12473a22f097
                    name: Task template
                    description: null
                    kind: to_do
                    due_in_days: null
                    parent_id: null
                    parent_type: null
                    created_at: '2026-07-17T13:09:59Z'
        '401':
          description: 'unauthorized: the Authorization header is missing or invalid'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 401
                    title: Unauthorized
                    message: Invalid API token
              schema:
                $ref: '#/components/schemas/error_unauthorized'
        '429':
          description: 'too many requests: the user has reached the rate limit'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 429
                    title: Too Many Requests
                    message: Rate limit reached. Please wait for a couple of minutes.
              schema:
                $ref: '#/components/schemas/error_too_many_requests'
      operationId: getApiV2TaskTemplates
      x-operation-id-source: derived
    post:
      summary: Creates a task template
      security:
      - bearer_auth: []
      description: Returns the created task template
      tags:
      - task_template
      parameters: []
      responses:
        '201':
          description: Task template created
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json; charset=utf-8
            X-Organization-ID:
              schema:
                type: string
              description: The organization ID
            X-Rate-Limit:
              schema:
                type: integer
              description: Max allowed requests in the current period
            X-Remaining-Requests:
              schema:
                type: integer
              description: Remaining requests in the current period
          content:
            application/json:
              examples:
                example:
                  value:
                    id: 832ff70f-1b5e-4e28-a412-48523b304716
                    name: Onboarding checklist
                    description: Steps to onboard a new client
                    kind: to_do
                    due_in_days: 7
                    parent_id: null
                    parent_type: null
                    created_at: '2026-07-17T13:09:59Z'
        '401':
          description: 'unauthorized: the Authorization header is missing or invalid'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 401
                    title: Unauthorized
                    message: Invalid API token
              schema:
                $ref: '#/components/schemas/error_unauthorized'
        '429':
          description: 'too many requests: the user has reached the rate limit'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 429
                    title: Too Many Requests
                    message: Rate limit reached. Please wait for a couple of minutes.
              schema:
                $ref: '#/components/schemas/error_too_many_requests'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: Onboarding checklist
                description:
                  type: string
                  example: Steps to onboard a new client
                kind:
                  type: string
                  enum:
                  - to_do
                  - call
                  - meeting
                  - email
                  - milestone
                  example: to_do
                due_in_days:
                  type: integer
                  minimum: 0
                  maximum: 31
                  example: 7
                parent_id:
                  type: string
                  example: a0a0e818-749a-41d6-b898-43fa3ea55dd8
                  description: UUID of the parent (ProjectSection or Workspace) this task template belongs to
                parent_type:
                  type: string
                  enum:
                  - ProjectSection
                  - Workspace
                  default: ProjectSection
                  example: ProjectSection
                  description: Type of the parent referenced by parent_id (defaults to ProjectSection). Only template ProjectSections and template Workspaces are accepted.
                user_ids:
                  type: array
                  items:
                    type: string
                  example:
                  - a0a0e818-749a-41d6-b898-13fa3ea55dd8
                  description: UUIDs of the users to assign to the task template
              required:
              - name
        required: true
        description: Task template attributes
      operationId: postApiV2TaskTemplates
      x-operation-id-source: derived
  /api/v2/task_templates/{id}:
    parameters:
    - name: id
      in: path
      required: true
      description: Task template ID
      schema:
        type: string
    get:
      summary: Retrieves a task template
      security:
      - bearer_auth: []
      description: Returns the task template
      tags:
      - task_template
      responses:
        '200':
          description: Task template retrieved
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json; charset=utf-8
            X-Organization-ID:
              schema:
                type: string
              description: The organization ID
            X-Rate-Limit:
              schema:
                type: integer
              description: Max allowed requests in the current period
            X-Remaining-Requests:
              schema:
                type: integer
              description: Remaining requests in the current period
          content:
            application/json:
              examples:
                example:
                  value:
                    id: 23bd290a-4e07-47f6-940e-d004d6631746
                    name: Task template
                    description: null
                    kind: to_do
                    due_in_days: 7
                    parent_id: null
                    parent_type: null
                    created_at: '2026-07-17T13:09:59Z'
        '401':
          description: 'unauthorized: the Authorization header is missing or invalid'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 401
                    title: Unauthorized
                    message: Invalid API token
              schema:
                $ref: '#/components/schemas/error_unauthorized'
        '404':
          description: 'not found: the resource is not found'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 404
                    title: Not Found
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/error_not_found'
        '429':
          description: 'too many requests: the user has reached the rate limit'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 429
                    title: Too Many Requests
                    message: Rate limit reached. Please wait for a couple of minutes.
              schema:
                $ref: '#/components/schemas/error_too_many_requests'
      operationId: getApiV2TaskTemplatesById
      x-operation-id-source: derived
    patch:
      summary: Updates a task template
      security:
      - bearer_auth: []
      description: Returns the updated task template
      tags:
      - task_template
      parameters: []
      responses:
        '200':
          description: Task template updated
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json; charset=utf-8
            X-Organization-ID:
              schema:
                type: string
              description: The organization ID
            X-Rate-Limit:
              schema:
                type: integer
              description: Max allowed requests in the current period
            X-Remaining-Requests:
              schema:
                type: integer
              description: Remaining requests in the current period
          content:
            application/json:
              examples:
                example:
                  value:
                    id: 6bf121ab-d27c-4037-a877-f8f29fc786f1
                    name: Updated checklist
                    description: null
                    kind: call
                    due_in_days: 14
                    parent_id: aed98e9e-3f9a-4378-b4f9-1b769da9c4bc
                    parent_type: ProjectSection
                    created_at: '2026-07-17T13:09:59Z'
        '401':
          description: 'unauthorized: the Authorization header is missing or invalid'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 401
                    title: Unauthorized
                    message: Invalid API token
              schema:
                $ref: '#/components/schemas/error_unauthorized'
        '404':
          description: 'not found: the resource is not found'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 404
                    title: Not Found
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/error_not_found'
        '429':
          description: 'too many requests: the user has reached the rate limit'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 429
                    title: Too Many Requests
                    message: Rate limit reached. Please wait for a couple of minutes.
              schema:
                $ref: '#/components/schemas/error_too_many_requests'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: Onboarding checklist
                description:
                  type: string
                  example: Steps to onboard a new client
                kind:
                  type: string
                  enum:
                  - to_do
                  - call
                  - meeting
                  - email
                  - milestone
                  example: to_do
                due_in_days:
                  type: integer
                  minimum: 0
                  maximum: 31
                  example: 7
                parent_id:
                  type: string
                  example: a0a0e818-749a-41d6-b898-43fa3ea55dd8
                  description: UUID of the parent (ProjectSection or Workspace) this task template belongs to
                parent_type:
                  type: string
                  enum:
                  - ProjectSection
                  - Workspace
                  default: ProjectSection
                  example: ProjectSection
                  description: Type of the parent referenced by parent_id (defaults to ProjectSection). Only template ProjectSections and template Workspaces are accepted.
                user_ids:
                  type: array
                  items:
                    type: string
                  example:
                  - a0a0e818-749a-41d6-b898-13fa3ea55dd8
                  description: UUIDs of the users to assign to the task template
        required: true
        description: Task template attributes
      operationId: patchApiV2TaskTemplatesById
      x-operation-id-source: derived
    delete:
      summary: Deletes a task template
      security:
      - bearer_auth: []
      description: Deletes the task template
      tags:
      - task_template
      responses:
        '204':
          description: Task template deleted
          headers:
            X-Organization-ID:
              schema:
                type: string
              description: The organization ID
            X-Rate-Limit:
              schema:
                type: integer
              description: Max allowed requests in the current period
            X-Remaining-Requests:
              schema:
                type: integer
              description: Remaining requests in the current period
          content:
            application/json:
              examples:
                example:
                  value: ''
        '401':
          description: 'unauthorized: the Authorization header is missing or invalid'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 401
                    title: Unauthorized
                    message: Invalid API token
              schema:
                $ref: '#/components/schemas/error_unauthorized'
        '404':
          description: 'not found: the resource is not found'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 404
                    title: Not Found
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/error_not_found'
        '429':
          description: 'too many requests: the user has reached the rate limit'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 429
                    title: Too Many Requests
                    message: Rate limit reached. Please wait for a couple of minutes.
              schema:
                $ref: '#/components/schemas/error_too_many_requests'
      operationId: deleteApiV2TaskTemplatesById
      x-operation-id-source: derived
components:
  schemas:
    error_not_found:
      description: A response describing a not found error
      type: object
      properties:
        status:
          type: integer
          example: 404
        title:
          type: string
          example: Not Found
        message:
          type: string
          example: Resource not found
      required:
      - status
      - title
      - message
    error_too_many_requests:
      description: A response describing a rate limit error
      type: object
      properties:
        status:
          type: integer
          example: 429
        title:
          type: string
          example: Too Many Requests
        message:
          type: string
          example: Rate limit reached. Please wait for a couple of minutes.
      required:
      - status
      - title
      - message
    error_unauthorized:
      description: A response describing an authentication error
      type: object
      properties:
        status:
          type: integer
          example: 401
        title:
          type: string
          example: Unauthorized
        message:
          type: string
          example: API token not found
      required:
      - status
      - title
      - message
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
x-readme:
  explorer-enabled: true
  proxy-enabled: true
