openapi: 3.2.0
info:
  title: Hubflo Smartdoc API
  version: v2
  description: The Hubflo API allows you to write and read data from the Hubflo application.
servers:
- url: https://app.hubflo.com
  description: The production API server
- url: https://staging.hubflo.com
  description: The staging API server
- url: http://localhost:3000
  description: The local API server
tags:
- name: smartdoc
paths:
  /api/v2/seal_templates/{seal_template_id}/parties:
    get:
      summary: Retrieves a list of parties for a smartdoc
      security:
      - bearer_auth: []
      description: Returns the list of parties for a smartdoc.
      tags:
      - smartdoc
      parameters:
      - name: seal_template_id
        in: path
        required: true
        description: Seal template ID
        schema:
          type: string
      responses:
        '200':
          description: Parties retrieved
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json; charset=utf-8
            X-Organization-ID:
              schema:
                type: string
              description: The organization ID
            X-Rate-Limit:
              schema:
                type: integer
              description: Max allowed requests in the current period
            X-Remaining-Requests:
              schema:
                type: integer
              description: Remaining requests in the current period
          content:
            application/json:
              examples:
                example:
                  value:
                  - id: '11111'
                    role: First Party
        '401':
          description: 'unauthorized: the Authorization header is missing or invalid'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 401
                    title: Unauthorized
                    message: Invalid API token
              schema:
                $ref: '#/components/schemas/error_unauthorized'
        '404':
          description: 'not found: the resource is not found'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 404
                    title: Not Found
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/error_not_found'
        '429':
          description: 'too many requests: the user has reached the rate limit'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 429
                    title: Too Many Requests
                    message: Rate limit reached. Please wait for a couple of minutes.
              schema:
                $ref: '#/components/schemas/error_too_many_requests'
      operationId: getApiV2SealTemplatesBySealTemplateIdParties
      x-operation-id-source: derived
  /api/v2/seal_templates/{seal_template_id}/submissions/{submission_id}/submitters:
    get:
      summary: Retrieves a list of submitters for a smartdoc's submission
      security:
      - bearer_auth: []
      description: Returns the list of submitters for a smartdoc's submission.
      tags:
      - smartdoc
      parameters:
      - name: page
        in: query
        required: false
        description: Page number
        example: 1
        schema:
          type: number
      - name: per_page
        in: query
        required: false
        description: Number of items per page (max 100)
        example: 10
        schema:
          type: number
      - name: seal_template_id
        in: path
        required: true
        description: Seal template ID
        schema:
          type: string
      - name: submission_id
        in: path
        required: true
        description: Submission ID
        schema:
          type: string
      responses:
        '200':
          description: Submitters retrieved
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json; charset=utf-8
            X-Organization-ID:
              schema:
                type: string
              description: The organization ID
            X-Rate-Limit:
              schema:
                type: integer
              description: Max allowed requests in the current period
            X-Remaining-Requests:
              schema:
                type: integer
              description: Remaining requests in the current period
            X-Page:
              schema:
                type: integer
              description: Current page number
            X-Per-Page:
              schema:
                type: integer
              description: Number of items per page
            X-Total-Pages:
              schema:
                type: integer
              description: Total number of pages
            X-Next-Page:
              schema:
                type:
                - integer
                - 'null'
              description: Next page number
            X-Prev-Page:
              schema:
                type:
                - integer
                - 'null'
              description: Previous page number
            X-Total-Count:
              schema:
                type: integer
              description: Total number of items
          content:
            application/json:
              examples:
                example:
                  value:
                  - id: 4c65deed-bbac-47c0-b624-7a261b98cea6
                    status: awaiting
                    signer_id: 2e8a82f6-562b-441b-b26e-8589f2b474be
                    signer_type: Contact
                    template_id: c173d910-54ea-4b8c-9dfb-22ae21f99d49
                    submission_id: f330a979-1096-4698-921f-ec729a5e5d4a
                    url: http://localhost:3000/seal/submitters/4c65deed-bbac-47c0-b624-7a261b98cea6/public_access
                    completed_at: null
                    created_at: '2026-07-17T13:09:54Z'
                  - id: acd71cec-209e-4838-a7aa-ef0cfd415173
                    status: awaiting
                    signer_id: 2e8a82f6-562b-441b-b26e-8589f2b474be
                    signer_type: Contact
                    template_id: c173d910-54ea-4b8c-9dfb-22ae21f99d49
                    submission_id: f330a979-1096-4698-921f-ec729a5e5d4a
                    url: http://localhost:3000/seal/submitters/acd71cec-209e-4838-a7aa-ef0cfd415173/public_access
                    completed_at: null
                    created_at: '2026-07-17T13:09:54Z'
        '401':
          description: 'unauthorized: the Authorization header is missing or invalid'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 401
                    title: Unauthorized
                    message: Invalid API token
              schema:
                $ref: '#/components/schemas/error_unauthorized'
        '404':
          description: 'not found: the resource is not found'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 404
                    title: Not Found
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/error_not_found'
        '429':
          description: 'too many requests: the user has reached the rate limit'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 429
                    title: Too Many Requests
                    message: Rate limit reached. Please wait for a couple of minutes.
              schema:
                $ref: '#/components/schemas/error_too_many_requests'
      operationId: getApiV2SealTemplatesBySealTemplateIdSubmissionsBySubmissionIdSubmitters
      x-operation-id-source: derived
  /api/v2/seal_templates/{seal_template_id}/submissions:
    get:
      summary: Retrieves a list of submissions for a smartdoc
      security:
      - bearer_auth: []
      description: Returns the list of submissions for a smartdoc.
      tags:
      - smartdoc
      parameters:
      - name: page
        in: query
        required: false
        description: Page number
        example: 1
        schema:
          type: number
      - name: per_page
        in: query
        required: false
        description: Number of items per page (max 100)
        example: 10
        schema:
          type: number
      - name: seal_template_id
        in: path
        required: true
        description: Seal template ID
        schema:
          type: string
      responses:
        '200':
          description: Submissions retrieved
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json; charset=utf-8
            X-Organization-ID:
              schema:
                type: string
              description: The organization ID
            X-Rate-Limit:
              schema:
                type: integer
              description: Max allowed requests in the current period
            X-Remaining-Requests:
              schema:
                type: integer
              description: Remaining requests in the current period
            X-Page:
              schema:
                type: integer
              description: Current page number
            X-Per-Page:
              schema:
                type: integer
              description: Number of items per page
            X-Total-Pages:
              schema:
                type: integer
              description: Total number of pages
            X-Next-Page:
              schema:
                type:
                - integer
                - 'null'
              description: Next page number
            X-Prev-Page:
              schema:
                type:
                - integer
                - 'null'
              description: Previous page number
            X-Total-Count:
              schema:
                type: integer
              description: Total number of items
          content:
            application/json:
              examples:
                example:
                  value:
                  - id: 0ee8bafb-4d63-4075-9e5f-9635e8b1c82f
                    status: pending
                    contact_id: 5ca7bc74-7c1b-4a4f-9721-e5339c9b002d
                    template_id: 37141eaf-923f-44e9-bf7d-2dc6500cbba3
                    creator_id: e68a6422-fdb4-4c64-922a-8ac109b3ed33
                    document_url: null
                    completed_at: null
                    created_at: '2026-07-17T13:09:54Z'
                  - id: 7b12d80f-bbde-4b3f-ba2c-94773162c603
                    status: pending
                    contact_id: 727b51af-219a-4611-949c-bf08e0869ccc
                    template_id: 37141eaf-923f-44e9-bf7d-2dc6500cbba3
                    creator_id: e68a6422-fdb4-4c64-922a-8ac109b3ed33
                    document_url: null
                    completed_at: null
                    created_at: '2026-07-17T13:09:54Z'
        '401':
          description: 'unauthorized: the Authorization header is missing or invalid'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 401
                    title: Unauthorized
                    message: Invalid API token
              schema:
                $ref: '#/components/schemas/error_unauthorized'
        '404':
          description: 'not found: the resource is not found'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 404
                    title: Not Found
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/error_not_found'
        '429':
          description: 'too many requests: the user has reached the rate limit'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 429
                    title: Too Many Requests
                    message: Rate limit reached. Please wait for a couple of minutes.
              schema:
                $ref: '#/components/schemas/error_too_many_requests'
      operationId: getApiV2SealTemplatesBySealTemplateIdSubmissions
      x-operation-id-source: derived
    post:
      summary: Creates a submission for a smartdoc
      security:
      - bearer_auth: []
      description: 'Creates a submission for a smartdoc. If the smartdoc doesn''t contain any fields, or if wrong party IDs are given, it cannot be submitted and the endpoint will return a 422 - unprocessable content error. The parameter contact_id is deprecated. Use party_signer_ids instead. The parameter party_signer_ids is an object mapping party ID to contact ID: keys are party IDs and values are contact IDs. Give as many key-value pairs as there are parties in the smartdoc.'
      tags:
      - smartdoc
      parameters:
      - name: seal_template_id
        in: path
        required: true
        description: Seal template ID
        schema:
          type: string
      responses:
        '201':
          description: Submission created
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json; charset=utf-8
            X-Organization-ID:
              schema:
                type: string
              description: The organization ID
            X-Rate-Limit:
              schema:
                type: integer
              description: Max allowed requests in the current period
            X-Remaining-Requests:
              schema:
                type: integer
              description: Remaining requests in the current period
          content:
            application/json:
              examples:
                example:
                  value:
                    id: 34e8fb6e-fa78-49a6-b703-8b5cd7b73832
                    status: pending
                    contact_id: 4dcc1e4a-db2a-4225-8f5b-917f369b11f8
                    template_id: 685e316e-4079-42db-9aaa-36baf84bc9a1
                    creator_id: e68a6422-fdb4-4c64-922a-8ac109b3ed33
                    document_url: null
                    completed_at: null
                    created_at: '2026-07-17T13:09:55Z'
        '400':
          description: 'bad request: the request is invalid'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 400
                    title: Bad Request
                    message: Invalid signers parameters. Please use the contact_id or party_signer_ids parameter.
              schema:
                $ref: '#/components/schemas/error_bad_request'
        '401':
          description: 'unauthorized: the Authorization header is missing or invalid'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 401
                    title: Unauthorized
                    message: Invalid API token
              schema:
                $ref: '#/components/schemas/error_unauthorized'
        '404':
          description: 'not found: the resource is not found'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 404
                    title: Not Found
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/error_not_found'
        '422':
          description: 'unprocessable: not created when wrong party ID given or the smartdoc doesn''t contain any fields'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 422
                    title: Unprocessable Content
                    message: ''
              schema:
                $ref: '#/components/schemas/error_unprocessable_content'
        '429':
          description: 'too many requests: the user has reached the rate limit'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 429
                    title: Too Many Requests
                    message: Rate limit reached. Please wait for a couple of minutes.
              schema:
                $ref: '#/components/schemas/error_too_many_requests'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                party_signer_ids:
                  type: object
                  example:
                    10a1a838-aa60-437f-afed-0ac318d05c29: a0a0e818-749a-41d6-b898-43fa3ea55dd8
                    b5a94430-d97e-4eb2-9e2d-1c656e0f493d: b2b0e818-749a-41d6-b898-43fa3ea55ee9
                creator_id:
                  type: string
                  example: a0a0e818-749a-41d6-b898-43fa3ea55dd8
                creator_email:
                  type: string
                  example: john.doe@example.com
        required: true
        description: Submission attributes
      operationId: postApiV2SealTemplatesBySealTemplateIdSubmissions
      x-operation-id-source: derived
  /api/v2/seal_templates:
    get:
      summary: Retrieves the smartdocs
      security:
      - bearer_auth: []
      description: Returns the smartdocs
      tags:
      - smartdoc
      parameters:
      - name: page
        in: query
        required: false
        description: Page number
        example: 1
        schema:
          type: number
      - name: per_page
        in: query
        required: false
        description: Number of items per page (max 100)
        example: 10
        schema:
          type: number
      - name: name
        in: query
        required: false
        description: Filter by name
        schema:
          type: string
      responses:
        '200':
          description: Seal Template retrieved
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json; charset=utf-8
            X-Organization-ID:
              schema:
                type: string
              description: The organization ID
            X-Rate-Limit:
              schema:
                type: integer
              description: Max allowed requests in the current period
            X-Remaining-Requests:
              schema:
                type: integer
              description: Remaining requests in the current period
            X-Page:
              schema:
                type: integer
              description: Current page number
            X-Per-Page:
              schema:
                type: integer
              description: Number of items per page
            X-Total-Pages:
              schema:
                type: integer
              description: Total number of pages
            X-Next-Page:
              schema:
                type:
                - integer
                - 'null'
              description: Next page number
            X-Prev-Page:
              schema:
                type:
                - integer
                - 'null'
              description: Previous page number
            X-Total-Count:
              schema:
                type: integer
              description: Total number of items
          content:
            application/json:
              examples:
                example:
                  value:
                  - id: 313f8541-9d85-4b99-b667-6933f63633b0
                    name: My template
                    created_at: '2026-07-17T13:09:57Z'
                  - id: c1c537bd-76d9-44d2-b235-9ebf6f826a51
                    name: My template
                    created_at: '2026-07-17T13:09:57Z'
        '401':
          description: 'unauthorized: the Authorization header is missing or invalid'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 401
                    title: Unauthorized
                    message: Invalid API token
              schema:
                $ref: '#/components/schemas/error_unauthorized'
        '429':
          description: 'too many requests: the user has reached the rate limit'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 429
                    title: Too Many Requests
                    message: Rate limit reached. Please wait for a couple of minutes.
              schema:
                $ref: '#/components/schemas/error_too_many_requests'
      operationId: getApiV2SealTemplates
      x-operation-id-source: derived
  /api/v2/seal_templates/{id}:
    parameters:
    - name: id
      in: path
      required: true
      description: Seal template ID
      schema:
        type: string
    get:
      summary: Retrieves a smartdoc
      security:
      - bearer_auth: []
      description: Returns the smartdoc
      tags:
      - smartdoc
      responses:
        '200':
          description: Seal template retrieved
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json; charset=utf-8
            X-Organization-ID:
              schema:
                type: string
              description: The organization ID
            X-Rate-Limit:
              schema:
                type: integer
              description: Max allowed requests in the current period
            X-Remaining-Requests:
              schema:
                type: integer
              description: Remaining requests in the current period
          content:
            application/json:
              examples:
                example:
                  value:
                    id: 2ae05398-cf7d-4c0e-b810-a757de9b8033
                    name: My template
                    created_at: '2026-07-17T13:09:57Z'
        '401':
          description: 'unauthorized: the Authorization header is missing or invalid'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 401
                    title: Unauthorized
                    message: Invalid API token
              schema:
                $ref: '#/components/schemas/error_unauthorized'
        '404':
          description: 'not found: the resource is not found'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 404
                    title: Not Found
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/error_not_found'
        '429':
          description: 'too many requests: the user has reached the rate limit'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 429
                    title: Too Many Requests
                    message: Rate limit reached. Please wait for a couple of minutes.
              schema:
                $ref: '#/components/schemas/error_too_many_requests'
      operationId: getApiV2SealTemplatesById
      x-operation-id-source: derived
components:
  schemas:
    error_bad_request:
      description: A response describing a bad request error
      type: object
      properties:
        status:
          type: integer
          example: 400
        title:
          type: string
          example: Bad Request
        message:
          type: string
          example: Invalid parameters
      required:
      - status
      - title
      - message
    error_not_found:
      description: A response describing a not found error
      type: object
      properties:
        status:
          type: integer
          example: 404
        title:
          type: string
          example: Not Found
        message:
          type: string
          example: Resource not found
      required:
      - status
      - title
      - message
    error_too_many_requests:
      description: A response describing a rate limit error
      type: object
      properties:
        status:
          type: integer
          example: 429
        title:
          type: string
          example: Too Many Requests
        message:
          type: string
          example: Rate limit reached. Please wait for a couple of minutes.
      required:
      - status
      - title
      - message
    error_unprocessable_content:
      description: A response describing a validation error
      type: object
      properties:
        status:
          type: integer
          example: 422
        title:
          type: string
          example: Unprocessable Content
        message:
          type: string
          example: 'Validation failed: Title can''t be blank'
      required:
      - status
      - title
      - message
    error_unauthorized:
      description: A response describing an authentication error
      type: object
      properties:
        status:
          type: integer
          example: 401
        title:
          type: string
          example: Unauthorized
        message:
          type: string
          example: API token not found
      required:
      - status
      - title
      - message
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
x-readme:
  explorer-enabled: true
  proxy-enabled: true
