openapi: 3.2.0
info:
  title: Hubflo Invoicing Profile API
  version: v2
  description: The Hubflo API allows you to write and read data from the Hubflo application.
servers:
- url: https://app.hubflo.com
  description: The production API server
- url: https://staging.hubflo.com
  description: The staging API server
- url: http://localhost:3000
  description: The local API server
tags:
- name: invoicing_profile
paths:
  /api/v2/invoicing-profiles/logo:
    post:
      summary: Uploads the invoicing profile logo
      security:
      - bearer_auth: []
      description: Replaces the invoicing profile logo. The image is sent as multipart/form-data.
      tags:
      - invoicing_profile
      parameters: []
      responses:
        '201':
          description: Logo uploaded
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json; charset=utf-8
            X-Organization-ID:
              schema:
                type: string
              description: The organization ID
            X-Rate-Limit:
              schema:
                type: integer
              description: Max allowed requests in the current period
            X-Remaining-Requests:
              schema:
                type: integer
              description: Remaining requests in the current period
          content:
            application/json:
              examples:
                example:
                  value:
                    id: 83510985-067c-4c2e-9951-23e2693ef282
                    name: Invoicing profile
                    address: 34 rue Dautancourt
                    email: null
                    phone: null
                    postal_code: '75017'
                    city: Paris
                    country: FR
                    state: Île-de-France
                    legal_status: null
                    siret: '12345678900014'
                    vat_number: FR76123456789
                    invoices_comment: null
                    invoices_description: null
                    invoices_reference_prefix: '{{year}}/{{month}}-'
                    pdf_custom_footer: null
                    pdf_font_size: medium
                    pdf_font_weight: normal
                    pdf_line_height: medium
                    pdf_logo_size: medium
                    pdf_salable_principal_color: '#8AA3D9'
                    pdf_salable_secondary_color: '#5F6368'
                    proposal_mode: true
                    proposals_description: null
                    proposals_quote_comment: null
                    proposals_reference_prefix: '{{year}}/{{month}}-'
                    payment_terms: null
                    salable_payment_deadline_days: 30
                    salable_payment_methods:
                    - bank_transfer
                    salable_vat: '20.0'
                    created_at: '2026-07-17T13:08:42Z'
                    logo_url: http://www.example.com/rails/active_storage/disk/eyJfcmFpbHMiOnsiZGF0YSI6eyJrZXkiOiJqMGI1bmlkZTFrNWhtYjhscGk5ZHNzcnE4ejExIiwiZGlzcG9zaXRpb24iOiJpbmxpbmU7IGZpbGVuYW1lPVwiNjAweDYwMC5wbmdcIjsgZmlsZW5hbWUqPVVURi04Jyc2MDB4NjAwLnBuZyIsImNvbnRlbnRfdHlwZSI6ImltYWdlL3BuZyIsInNlcnZpY2VfbmFtZSI6InRlc3QifSwiZXhwIjoiMjAyNi0wNy0xN1QxMzoxNDo0MC40ODNaIiwicHVyIjoiYmxvYl9rZXkifX0=--7908a0c56001c9819c7a0052366c08258d32e001/600x600.png
        '401':
          description: 'unauthorized: the Authorization header is missing or invalid'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 401
                    title: Unauthorized
                    message: Invalid API token
              schema:
                $ref: '#/components/schemas/error_unauthorized'
        '429':
          description: 'too many requests: the user has reached the rate limit'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 429
                    title: Too Many Requests
                    message: Rate limit reached. Please wait for a couple of minutes.
              schema:
                $ref: '#/components/schemas/error_too_many_requests'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: string
              format: binary
        required: true
        description: Logo to upload
      operationId: postApiV2InvoicingProfilesLogo
      x-operation-id-source: derived
    delete:
      summary: Deletes the invoicing profile logo
      security:
      - bearer_auth: []
      description: Removes the invoicing profile logo
      tags:
      - invoicing_profile
      responses:
        '204':
          description: Logo deleted
          headers:
            X-Organization-ID:
              schema:
                type: string
              description: The organization ID
            X-Rate-Limit:
              schema:
                type: integer
              description: Max allowed requests in the current period
            X-Remaining-Requests:
              schema:
                type: integer
              description: Remaining requests in the current period
          content:
            application/json:
              examples:
                example:
                  value: ''
        '401':
          description: 'unauthorized: the Authorization header is missing or invalid'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 401
                    title: Unauthorized
                    message: Invalid API token
              schema:
                $ref: '#/components/schemas/error_unauthorized'
        '429':
          description: 'too many requests: the user has reached the rate limit'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 429
                    title: Too Many Requests
                    message: Rate limit reached. Please wait for a couple of minutes.
              schema:
                $ref: '#/components/schemas/error_too_many_requests'
      operationId: deleteApiV2InvoicingProfilesLogo
      x-operation-id-source: derived
  /api/v2/invoicing-profiles:
    patch:
      summary: Updates the current invoicing profile
      security:
      - bearer_auth: []
      description: Returns the updated invoicing profile
      tags:
      - invoicing_profile
      parameters: []
      responses:
        '200':
          description: Invoicing profile updated
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json; charset=utf-8
            X-Organization-ID:
              schema:
                type: string
              description: The organization ID
            X-Rate-Limit:
              schema:
                type: integer
              description: Max allowed requests in the current period
            X-Remaining-Requests:
              schema:
                type: integer
              description: Remaining requests in the current period
          content:
            application/json:
              examples:
                example:
                  value:
                    id: 83510985-067c-4c2e-9951-23e2693ef282
                    name: Updated name
                    address: 10 Updated Street
                    email: updated@example.com
                    phone: +33 9 87 65 43 21
                    postal_code: '69001'
                    city: Lyon
                    country: FR
                    state: Auvergne-Rhône-Alpes
                    legal_status: SARL
                    siret: '98765432100012'
                    vat_number: FR99987654321
                    invoices_comment: Late payment incurs a 1.5% fee.
                    invoices_description: Services rendered for the month.
                    invoices_reference_prefix: '{{year}}/INV-'
                    pdf_custom_footer: Thanks for your business!
                    pdf_font_size: large
                    pdf_font_weight: bold
                    pdf_line_height: large
                    pdf_logo_size: large
                    pdf_salable_principal_color: '#112233'
                    pdf_salable_secondary_color: '#445566'
                    proposal_mode: true
                    proposals_description: Scope of work outlined below.
                    proposals_quote_comment: Quote valid for 30 days.
                    proposals_reference_prefix: '{{year}}/PRO-'
                    payment_terms: Payment due within 30 days of invoice date.
                    salable_payment_deadline_days: 30
                    salable_payment_methods:
                    - bank_transfer
                    - bank_card
                    salable_vat: '20.0'
                    created_at: '2026-07-17T13:08:42Z'
                    logo_url: null
        '401':
          description: 'unauthorized: the Authorization header is missing or invalid'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 401
                    title: Unauthorized
                    message: Invalid API token
              schema:
                $ref: '#/components/schemas/error_unauthorized'
        '429':
          description: 'too many requests: the user has reached the rate limit'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 429
                    title: Too Many Requests
                    message: Rate limit reached. Please wait for a couple of minutes.
              schema:
                $ref: '#/components/schemas/error_too_many_requests'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                address:
                  type: string
                  example: 1 Market St
                city:
                  type: string
                  example: San Francisco
                country:
                  type: string
                  example: US
                email:
                  type: string
                  example: billing@acme.com
                invoices_comment:
                  type: string
                  example: Late payment incurs a 1.5% fee.
                invoices_description:
                  type: string
                  example: Services rendered for the month.
                invoices_reference_prefix:
                  type: string
                  example: '{{year}}/INV-'
                legal_status:
                  type: string
                  example: LLC
                name:
                  type: string
                  example: Acme Inc.
                payment_terms:
                  type: string
                  example: Payment due within 30 days of invoice date.
                pdf_custom_footer:
                  type: string
                  example: Thanks for your business!
                pdf_font_size:
                  type: string
                  enum:
                  - small
                  - medium
                  - large
                  - very_large
                  example: medium
                pdf_font_weight:
                  type: string
                  enum:
                  - light
                  - normal
                  - bold
                  example: normal
                pdf_line_height:
                  type: string
                  enum:
                  - small
                  - medium
                  - large
                  example: medium
                pdf_logo_size:
                  type: string
                  enum:
                  - small
                  - medium
                  - large
                  example: medium
                pdf_salable_principal_color:
                  type: string
                  example: '#8AA3D9'
                pdf_salable_secondary_color:
                  type: string
                  example: '#5F6368'
                phone:
                  type: string
                  example: +1 415 555 0142
                postal_code:
                  type: string
                  example: '94103'
                proposal_mode:
                  type: boolean
                  enum:
                  - true
                  - false
                  example: true
                  description: 'Proposal/estimate PDF layout style — true: Proposal Layout (content emphasized), false: Estimate-Focused Layout (quote/PDF emphasized).'
                proposals_description:
                  type: string
                  example: Scope of work outlined below.
                proposals_quote_comment:
                  type: string
                  example: Quote valid for 30 days.
                proposals_reference_prefix:
                  type: string
                  example: '{{year}}/PRO-'
                salable_payment_deadline_days:
                  type: integer
                  enum:
                  - 0
                  - 14
                  - 30
                  - 45
                  - 60
                  example: 30
                salable_payment_methods:
                  type: array
                  items:
                    type: string
                    enum:
                    - bank_transfer
                    - bank_card
                    - direct_debit
                    - check
                    - cash
                    - ach
                    - paypal
                    - other
                  example:
                  - bank_transfer
                  - bank_card
                salable_vat:
                  type: number
                  example: 8.625
                siret:
                  type: string
                  example: 12-3456789
                  description: Business registration number.
                state:
                  type: string
                  example: California
                vat_number:
                  type: string
                  example: US123456789
        required: true
        description: Invoicing profile attributes
      operationId: patchApiV2InvoicingProfiles
      x-operation-id-source: derived
components:
  schemas:
    error_too_many_requests:
      description: A response describing a rate limit error
      type: object
      properties:
        status:
          type: integer
          example: 429
        title:
          type: string
          example: Too Many Requests
        message:
          type: string
          example: Rate limit reached. Please wait for a couple of minutes.
      required:
      - status
      - title
      - message
    error_unauthorized:
      description: A response describing an authentication error
      type: object
      properties:
        status:
          type: integer
          example: 401
        title:
          type: string
          example: Unauthorized
        message:
          type: string
          example: API token not found
      required:
      - status
      - title
      - message
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
x-readme:
  explorer-enabled: true
  proxy-enabled: true
