openapi: 3.2.0
info:
  title: Hubflo Item API
  version: v2
  description: The Hubflo API allows you to write and read data from the Hubflo application.
servers:
- url: https://app.hubflo.com
  description: The production API server
- url: https://staging.hubflo.com
  description: The staging API server
- url: http://localhost:3000
  description: The local API server
tags:
- name: Item
paths:
  /api/v2/items:
    get:
      summary: Retrieves items
      security:
      - bearer_auth: []
      description: Returns content items
      tags:
      - Item
      parameters:
      - name: page
        in: query
        required: false
        description: Page number
        example: 1
        schema:
          type: number
      - name: per_page
        in: query
        required: false
        description: Number of items per page (max 100)
        example: 10
        schema:
          type: number
      - name: library
        in: query
        required: false
        description: Filter by library
        schema:
          type: boolean
      - name: type
        in: query
        required: false
        description: Filter by content type
        schema:
          type: string
          enum:
          - file
          - note
          - folder
          - embed
          - link
      - name: workspace_id
        in: query
        required: false
        description: Filter by workspace
        schema:
          type: string
      - name: title
        in: query
        required: false
        description: Filter by title
        schema:
          type: string
      responses:
        '200':
          description: Items retrieved
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json; charset=utf-8
            X-Organization-ID:
              schema:
                type: string
              description: The organization ID
            X-Rate-Limit:
              schema:
                type: integer
              description: Max allowed requests in the current period
            X-Remaining-Requests:
              schema:
                type: integer
              description: Remaining requests in the current period
            X-Page:
              schema:
                type: integer
              description: Current page number
            X-Per-Page:
              schema:
                type: integer
              description: Number of items per page
            X-Total-Pages:
              schema:
                type: integer
              description: Total number of pages
            X-Next-Page:
              schema:
                type:
                - integer
                - 'null'
              description: Next page number
            X-Prev-Page:
              schema:
                type:
                - integer
                - 'null'
              description: Previous page number
            X-Total-Count:
              schema:
                type: integer
              description: Total number of items
          content:
            application/json:
              examples:
                example:
                  value:
                  - id: cb49132b-0a85-4a14-b10b-24c018396ea8
                    title: Content Item 5
                    library: false
                    created_at: '2026-07-17T13:09:06Z'
                    owner_id: 780e98ee-8ca2-49fa-bd4d-6d2a644ee40a
                    workspace_id: null
                    parent_id: null
                    task_id: null
                    file_name: image1.png
                    file_url: http://www.example.com/rails/active_storage/disk/eyJfcmFpbHMiOnsiZGF0YSI6eyJrZXkiOiIwYnUwaDRndHhtZGpkcmczN283YW5sbWtsMWpiIiwiZGlzcG9zaXRpb24iOiJpbmxpbmU7IGZpbGVuYW1lPVwiaW1hZ2UxLnBuZ1wiOyBmaWxlbmFtZSo9VVRGLTgnJ2ltYWdlMS5wbmciLCJjb250ZW50X3R5cGUiOiJpbWFnZS9wbmciLCJzZXJ2aWNlX25hbWUiOiJ0ZXN0In0sImV4cCI6IjIwMjYtMDctMTdUMTM6MTQ6MDYuODI4WiIsInB1ciI6ImJsb2Jfa2V5In19--eb3404e0a533e957706d00482366bf174121a03b/image1.png
                    file_type: image/png
                    file_size: 56958
                  - id: f93c6181-9455-4b3a-b08e-714f5876d817
                    title: Content Item 4
                    library: false
                    created_at: '2026-07-17T13:09:06Z'
                    owner_id: 780e98ee-8ca2-49fa-bd4d-6d2a644ee40a
                    workspace_id: null
                    parent_id: null
                    task_id: null
                    content: Content note 1
        '401':
          description: 'unauthorized: the Authorization header is missing or invalid'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 401
                    title: Unauthorized
                    message: Invalid API token
              schema:
                $ref: '#/components/schemas/error_unauthorized'
        '429':
          description: 'too many requests: the user has reached the rate limit'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 429
                    title: Too Many Requests
                    message: Rate limit reached. Please wait for a couple of minutes.
              schema:
                $ref: '#/components/schemas/error_too_many_requests'
      operationId: getApiV2Items
      x-operation-id-source: derived
components:
  schemas:
    error_too_many_requests:
      description: A response describing a rate limit error
      type: object
      properties:
        status:
          type: integer
          example: 429
        title:
          type: string
          example: Too Many Requests
        message:
          type: string
          example: Rate limit reached. Please wait for a couple of minutes.
      required:
      - status
      - title
      - message
    error_unauthorized:
      description: A response describing an authentication error
      type: object
      properties:
        status:
          type: integer
          example: 401
        title:
          type: string
          example: Unauthorized
        message:
          type: string
          example: API token not found
      required:
      - status
      - title
      - message
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
x-readme:
  explorer-enabled: true
  proxy-enabled: true
