openapi: 3.2.0
info:
  title: Hubflo Note API
  version: v2
  description: The Hubflo API allows you to write and read data from the Hubflo application.
servers:
- url: https://app.hubflo.com
  description: The production API server
- url: https://staging.hubflo.com
  description: The staging API server
- url: http://localhost:3000
  description: The local API server
tags:
- name: Note
paths:
  /api/v2/notes:
    get:
      summary: Retrieves the notes
      security:
      - bearer_auth: []
      description: Returns the notes
      tags:
      - Note
      parameters:
      - name: page
        in: query
        required: false
        description: Page number
        example: 1
        schema:
          type: number
      - name: per_page
        in: query
        required: false
        description: Number of items per page (max 100)
        example: 10
        schema:
          type: number
      - name: contact_id
        in: query
        required: false
        description: Filter by contact ID
        schema:
          type: string
      - name: contact_email
        in: query
        required: false
        description: Filter by contact email
        schema:
          type: string
      - name: project_id
        in: query
        required: false
        description: Filter by project ID
        schema:
          type: string
      responses:
        '200':
          description: Notes retrieved
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json; charset=utf-8
            X-Organization-ID:
              schema:
                type: string
              description: The organization ID
            X-Rate-Limit:
              schema:
                type: integer
              description: Max allowed requests in the current period
            X-Remaining-Requests:
              schema:
                type: integer
              description: Remaining requests in the current period
            X-Page:
              schema:
                type: integer
              description: Current page number
            X-Per-Page:
              schema:
                type: integer
              description: Number of items per page
            X-Total-Pages:
              schema:
                type: integer
              description: Total number of pages
            X-Next-Page:
              schema:
                type:
                - integer
                - 'null'
              description: Next page number
            X-Prev-Page:
              schema:
                type:
                - integer
                - 'null'
              description: Previous page number
            X-Total-Count:
              schema:
                type: integer
              description: Total number of items
          content:
            application/json:
              examples:
                example:
                  value:
                  - id: 64eda3cd-f08b-48fd-948d-48600bf13ebe
                    title: Content Item 53
                    library: false
                    created_at: '2026-07-17T13:09:08Z'
                    owner_id: e68a6422-fdb4-4c64-922a-8ac109b3ed33
                    workspace_id: null
                    parent_id: null
                    task_id: null
                    content: Content note 13
                  - id: 9de082f2-f1b3-4373-8887-157560ec598b
                    title: Content Item 52
                    library: false
                    created_at: '2026-07-17T13:09:08Z'
                    owner_id: e68a6422-fdb4-4c64-922a-8ac109b3ed33
                    workspace_id: null
                    parent_id: null
                    task_id: null
                    content: Content note 12
        '401':
          description: 'unauthorized: the Authorization header is missing or invalid'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 401
                    title: Unauthorized
                    message: Invalid API token
              schema:
                $ref: '#/components/schemas/error_unauthorized'
        '429':
          description: 'too many requests: the user has reached the rate limit'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 429
                    title: Too Many Requests
                    message: Rate limit reached. Please wait for a couple of minutes.
              schema:
                $ref: '#/components/schemas/error_too_many_requests'
      operationId: getApiV2Notes
      x-operation-id-source: derived
    post:
      summary: Creates a note
      security:
      - bearer_auth: []
      description: Creates a note, which can be linked to projects and / or contacts. The note will be added to the library.
      tags:
      - Note
      parameters: []
      responses:
        '201':
          description: Note created
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json; charset=utf-8
            X-Organization-ID:
              schema:
                type: string
              description: The organization ID
            X-Rate-Limit:
              schema:
                type: integer
              description: Max allowed requests in the current period
            X-Remaining-Requests:
              schema:
                type: integer
              description: Remaining requests in the current period
          content:
            application/json:
              examples:
                example:
                  value:
                    id: b59a0638-d68f-44ee-8cec-6030236e3232
                    title: Content can be HTML
                    library: true
                    created_at: '2026-07-17T13:09:09Z'
                    owner_id: e68a6422-fdb4-4c64-922a-8ac109b3ed33
                    workspace_id: null
                    parent_id: null
                    task_id: null
                    content: <p>Content can be <strong>HTML</strong></p>
        '401':
          description: 'unauthorized: the Authorization header is missing or invalid'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 401
                    title: Unauthorized
                    message: Invalid API token
              schema:
                $ref: '#/components/schemas/error_unauthorized'
        '422':
          description: 'unprocessable content: the resource can''t be created'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 422
                    title: Unprocessable Content
                    message: 'Validation failed: Itemable html content text must be filled in, Title must be filled in'
              schema:
                $ref: '#/components/schemas/error_unprocessable_content'
        '429':
          description: 'too many requests: the user has reached the rate limit'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 429
                    title: Too Many Requests
                    message: Rate limit reached. Please wait for a couple of minutes.
              schema:
                $ref: '#/components/schemas/error_too_many_requests'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  example: Note title
                content:
                  type: string
                  example: <p>Note content can be <strong>HTML</strong></p>
                project_ids:
                  type: array
                  items:
                    type: string
                    example: a0a0e818-749a-41d6-b898-43fa3ea55dd8
                contact_ids:
                  type: array
                  items:
                    type: string
                    example: a0a0e818-749a-41d6-b898-43fa3ea55dd8
              required:
              - title
              - content
        required: true
        description: Note attributes
      operationId: postApiV2Notes
      x-operation-id-source: derived
  /api/v2/notes/{id}:
    parameters:
    - name: id
      in: path
      required: true
      description: Note ID
      schema:
        type: string
    get:
      summary: Retrieves a note
      security:
      - bearer_auth: []
      description: Returns a notes
      tags:
      - Note
      responses:
        '200':
          description: Note retrieved
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json; charset=utf-8
            X-Organization-ID:
              schema:
                type: string
              description: The organization ID
            X-Rate-Limit:
              schema:
                type: integer
              description: Max allowed requests in the current period
            X-Remaining-Requests:
              schema:
                type: integer
              description: Remaining requests in the current period
          content:
            application/json:
              examples:
                example:
                  value:
                    id: 21945a01-4668-49e0-b00e-21422fc23fb6
                    title: Content Item 75
                    library: false
                    created_at: '2026-07-17T13:09:10Z'
                    owner_id: 780e98ee-8ca2-49fa-bd4d-6d2a644ee40a
                    workspace_id: null
                    parent_id: null
                    task_id: null
                    content: Content note 35
        '401':
          description: 'unauthorized: the Authorization header is missing or invalid'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 401
                    title: Unauthorized
                    message: Invalid API token
              schema:
                $ref: '#/components/schemas/error_unauthorized'
        '404':
          description: 'not found: the resource is not found'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 404
                    title: Not Found
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/error_not_found'
        '429':
          description: 'too many requests: the user has reached the rate limit'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 429
                    title: Too Many Requests
                    message: Rate limit reached. Please wait for a couple of minutes.
              schema:
                $ref: '#/components/schemas/error_too_many_requests'
      operationId: getApiV2NotesById
      x-operation-id-source: derived
    patch:
      summary: Updates a note
      security:
      - bearer_auth: []
      tags:
      - Note
      parameters: []
      responses:
        '200':
          description: Note updated
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json; charset=utf-8
            X-Organization-ID:
              schema:
                type: string
              description: The organization ID
            X-Rate-Limit:
              schema:
                type: integer
              description: Max allowed requests in the current period
            X-Remaining-Requests:
              schema:
                type: integer
              description: Remaining requests in the current period
          content:
            application/json:
              examples:
                example:
                  value:
                    id: e1c952b6-fc67-4ec4-bc84-966bdb202bd4
                    title: Updated content
                    library: false
                    created_at: '2026-07-17T13:09:10Z'
                    owner_id: 780e98ee-8ca2-49fa-bd4d-6d2a644ee40a
                    workspace_id: null
                    parent_id: null
                    task_id: null
                    content: <p>Updated content</p>
        '401':
          description: 'unauthorized: the Authorization header is missing or invalid'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 401
                    title: Unauthorized
                    message: Invalid API token
              schema:
                $ref: '#/components/schemas/error_unauthorized'
        '404':
          description: 'not found: the resource is not found'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 404
                    title: Not Found
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/error_not_found'
        '429':
          description: 'too many requests: the user has reached the rate limit'
          content:
            application/json:
              examples:
                example:
                  value:
                    status: 429
                    title: Too Many Requests
                    message: Rate limit reached. Please wait for a couple of minutes.
              schema:
                $ref: '#/components/schemas/error_too_many_requests'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: string
                  example: <p>Updated <strong>content</strong></p>
                project_ids:
                  type: array
                  items:
                    type: string
                    example: a0a0e818-749a-41d6-b898-43fa3ea55dd8
                contact_ids:
                  type: array
                  items:
                    type: string
                    example: a0a0e818-749a-41d6-b898-43fa3ea55dd8
        required: true
        description: Note attributes
      operationId: patchApiV2NotesById
      x-operation-id-source: derived
components:
  schemas:
    error_not_found:
      description: A response describing a not found error
      type: object
      properties:
        status:
          type: integer
          example: 404
        title:
          type: string
          example: Not Found
        message:
          type: string
          example: Resource not found
      required:
      - status
      - title
      - message
    error_too_many_requests:
      description: A response describing a rate limit error
      type: object
      properties:
        status:
          type: integer
          example: 429
        title:
          type: string
          example: Too Many Requests
        message:
          type: string
          example: Rate limit reached. Please wait for a couple of minutes.
      required:
      - status
      - title
      - message
    error_unprocessable_content:
      description: A response describing a validation error
      type: object
      properties:
        status:
          type: integer
          example: 422
        title:
          type: string
          example: Unprocessable Content
        message:
          type: string
          example: 'Validation failed: Title can''t be blank'
      required:
      - status
      - title
      - message
    error_unauthorized:
      description: A response describing an authentication error
      type: object
      properties:
        status:
          type: integer
          example: 401
        title:
          type: string
          example: Unauthorized
        message:
          type: string
          example: API token not found
      required:
      - status
      - title
      - message
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
x-readme:
  explorer-enabled: true
  proxy-enabled: true
